@import '../../../style/styles.scss';

.post-product {
  &__category {
    position: relative;
    background-image: url('https://web-sdk.cenhomes.vn/img/step1-bg.jpg');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    width: 100%;
    height: 100vh;

    &::after {
      content: '';
      width: 100%;
      position: absolute;
      top: 0;
      left: 0;
      background: linear-gradient(117.94deg, #000 2.61%, transparent 62.19%);
      height: 100%;
    }

    &--content {
      position: absolute;
      top: 15%;
      left: 20%;
      margin: 0 auto;
      max-width: 1200px;
      color: $white-color;
      z-index: 1;

      .ant-select-selector {
        height: 34px !important;
        font-size: 2.1rem;
      }

      h2 {
        color: $white-color;
        font-size: 4.4rem;
        text-transform: uppercase;
      }

      .text-question {
        font-size: 3rem;
        margin: 32px 0;
      }

      .btn-start {
        padding-top: 34px;
      }

      .ant-select-selector {
        min-width: 400px;
      }
    }
  }

  &__info {
    margin: 20px auto;
    max-width: 1200px;
    min-height: 80vh;
    background-color: $bg-gray;
    padding: 40px;
    border-radius: 20px;
  }

  &__img {
    margin: 20px auto;
    max-width: 1200px;
    min-height: 80vh;
    background-color: $bg-gray;
    padding: 40px;
    border-radius: 20px;

    &--title {
      font-size: 2.2rem;
    }

    img {
      display: block;
      max-width: calc(100% - 300px);
    }

    .btn-img-submit {
      padding-top: 30px;
    }
  }
}
