.header__navbar {
  display: flex;
  justify-content: space-between;
  padding: 0;
  height: 80px;
  background-color: blue;
}
.header__navbar-brand {
  margin-top: 10px;
}
.header__navbar-list {
  display: flex;
  justify-content: space-between;
  list-style: none;
}
.header__navbar-item {
  font-size: 18px;
  padding: 15px 10px;
  font-weight: 600;
}
.header__navbar-item:hover a.header__navbar-link {
  text-decoration: red;
}
a.header__navbar-link {
  color: #fff;
  text-decoration: none;
}
.header__navbar-logo {
  height: 40px;
}
.header__navbar-login {
  color: #fff;
  list-style: none;
  display: flex;
  justify-content: space-between;
  font-size: 18px;
  font-weight: 600;
}
.header__login-item {
  padding: 15px 10px;
}
