.container-1 {
  max-width: 1400px;
  margin: 0 auto;
}

// .container-2 {
//   max-width: 1400px;
//   margin: 0 auto;
// }

.relative {
  position: relative;
}

.my-1 {
  margin: 16px 0;
}

.mx-2 {
  margin: 0 16px;
}

.table-icon {
  font-size: 2.2rem;
  cursor: pointer;
}

.icon-danger {
  color: $red-color !important;
}

.icon-primary {
  color: $blue-color !important;
}

.d-none {
  display: none !important;
}

.bg-img {
  background-image: url('https://storage.googleapis.com/vinhomes-data-01/3_1624089856.jpg');
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.ant-form-item-control-input-content {
  input {
    font-size: 1.8rem;
  }
}

html {
  scroll-behavior: smooth;
}

.btn-file {
  height: 36px;
  position: relative;
  overflow: hidden;
}
.btn-file input[type='file'] {
  position: absolute;
  top: 0;
  right: 0;
  min-width: 100%;
  min-height: 100%;
  font-size: 100px;
  text-align: right;
  filter: alpha(opacity=0);
  opacity: 0;
  outline: none;
  cursor: inherit;
  display: block;
}
