@mixin size($width, $height: $width) {
  width: $width;
  height: $height;
}

@mixin position($position, $top: null, $right: null, $bottom: null, $left: null) {
  position: $position;
  top: $top;
  right: $right;
  bottom: $bottom;
  left: $left;
}

@mixin centerBox() {
  display: flex;
  justify-content: center;
  align-items: center;
}

@mixin Mobile { 
  @media (max-width: $mobile-width) {     
    @content;   
   } 
}  

@mixin Tablet { 
  @media (min-width: $tablet-width) and (max-width: $desktop-width) {       
   @content;   
 } 
}  

@mixin Desktop {   
  @media (min-width: $desktop-width) {     
    @content;  
 } 
}

@mixin TabletAndMobile { 
  @media (max-width: $desktop-width){     
    @content;   
 } 
}

@mixin transition($what: all, $time: 0.2s, $how: ease-in-out) {
  -webkit-transition: $what $time $how;
  -moz-transition: $what $time $how;
  -ms-transition: $what $time $how;
  -o-transition: $what $time $how;
  transition: $what $time $how;
}

@mixin transform($transforms) {
  transform: $transforms;
  -webkit-transform: $transforms;
  -moz-transform: $transforms;
  -ms-transform: $transforms;
  -o-transform: $transforms;
}

@mixin absolute($args...) {
  @include position(absolute, $args...);
}

@mixin absoluteCenter {
  @include absolute(50%, null, null, 50%);
  @include transform(translate(-50%, -50%));
}

@mixin relative($args...) {
  @include position(relative, $args...);
}
